<!-- snippets/left-navigation.liquid -->
<ul class="vertical menu" data-drilldown>
	
	{% for link in linklists.main-menu.links %}
	{% assign child_list_handle = link.title | handleize %}
	<li aria-haspopup="true">
		{% if linklists[child_list_handle].links != blank %}
			<a href="{{ link.url }}">{{ link.title }}</a>
			<ul class="vertical menu">
				{% for link in linklists[child_list_handle].links %}
					<li>
						<a href="{{ link.url }}">{{ link.title }}</a>
					</li>
				{% endfor %}
			</ul>
		{% else %}
			<a href="{{ link.url }}">{{ link.title }}</a>
		{% endif %}
	</li>
	{% endfor %}
	
	{% if shop.customer_accounts_enabled %}
		{% if customer %}
			<li>
				<a href="/account">{{ 'layout.customer.account' | t }}</a>
			</li>
			<li>
				{{ 'layout.customer.log_out' | t | customer_logout_link }}
			</li>
		{% else %}
			<li>
				{{ 'layout.customer.log_in' | t | customer_login_link }}
			</li>
			{% if shop.customer_accounts_optional %}
				<li>
					{{ 'layout.customer.create_account' | t | customer_register_link }}
				</li>
			{% endif %}
		{% endif %}
	{% endif %}
	
	{% if settings.navigation_search_enable %}
	<li>
		<form action="/search" method="get" class="row columns" role="search">
			<input type="search" name="q" value="" aria-label="Search" placeholder="Search">
		</form>
	</li>
	{% endif %}
	
</ul>
<!-- end snippets/left-navigation.liquid -->