<!-- snippets/page-header.liquid -->
<header class="page-header" role="banner">
	<div class="text-right">
		{% if cart.item_count > 0 %}
		<a href="/cart" aria-expanded="false">
      <span class="icon icon-cart" aria-hidden="true"></span>
      {{ 'layout.cart.title' | t }}
      (<span id="cart-count">{{ cart.item_count }}</span>
      items
      <span id="cart-cost">{{ cart.total_price | money }}</span>)
    </a>
		{% endif %}
		<button type="button" class="menu-icon" data-toggle="left-nav"></button>
	</div>
	
	<div>

		{% if template == 'index' %}
			<h1 itemscope itemtype="http://schema.org/Organization">
		{% else %}
			<div itemscope itemtype="http://schema.org/Organization">
				<strong>
		{% endif %}
		{% if settings.logo_use_image %}
					<a href="/" class="logo" itemprop="url">
						<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
					</a>
		{% else %}
					<a href="/" itemprop="url">{{ shop.name }}</a>
		{% endif %}
		{% if template == 'index' %}
			</h1>
		{% else %}
				</strong>
			</div>
		{% endif %}
		{% if settings.header_message != blank %}
			<p class="header-message">
				{{ settings.header_message }}
			</p>
		{% endif %}
		
		{% if cart.announcements.size > 0 %}
			<div class="cart-announcements">
				{{ cart.announcements.first }}
			</div>
		{% endif %}
		
	</div>

</header>
<!-- end snippets/page-header.liquid -->