<!-- snippets/page-header.liquid -->
<header class="page-header" role="banner">
	<div class="row columns">
		<div class="text-right">
			{% if cart.item_count > 0 %}
			<a href="/cart" class="site-header__cart-toggle js-drawer-open-right" aria-controls="CartDrawer" aria-expanded="false">
        <span class="icon icon-cart" aria-hidden="true"></span>
        {{ 'layout.cart.title' | t }}
        (<span id="CartCount">{{ cart.item_count }}</span>
        items
        <span id="CartCost">{{ cart.total_price | money }}</span>)
      </a>
			{% endif %}
			<button type="button" class="menu-icon" data-toggle="left-nav"></button>
		</div>
		
		{% if cart.announcements.size > 0 %}
		<div class="page-header__module page-header__message">
			{{ cart.announcements.first }}
		</div>
		{% else %}
		<div class="page-header__module page-header__message">
			{{ settings.header_message }}
		</div>
		{% endif %}

	</div>

	<div class="page-header__right large--display-table-cell">

		{% if shop.customer_accounts_enabled %}
		<ul class="page-header__module page-header__module--list">
			{% if customer %}
			<li>
				<a href="/account">{{ 'layout.customer.account' | t }}</a>
			</li>
			<li>
				{{ 'layout.customer.log_out' | t | customer_logout_link }}
			</li>
			{% else %}
			<li>
				{{ 'layout.customer.log_in' | t | customer_login_link }}
			</li>
			<li>
				{{ 'layout.customer.or' | t }}
			</li>
			<li>
				{{ 'layout.customer.create_account' | t | customer_register_link }}
			</li>
			{% endif %}
		</ul>
		{% endif %}

	</div>

	<div class="columns row">

		{% if template == 'index' %}
		<h1 itemscope itemtype="http://schema.org/Organization">
			{% else %}
			<div class="h1" itemscope itemtype="http://schema.org/Organization">
				{% endif %}
				{% if settings.logo_use_image %}
				<a href="/" class="logo" itemprop="url">
					<img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
				</a>
				{% else %}
				<a href="/" itemprop="url">{{ shop.name }}</a>
				{% endif %}
				{% if template == 'index' %}
		</h1>
		{% else %}
		</div>
		{% endif %}
		{% if settings.header_message != blank %}
		<p class="header-message">
			{{ settings.header_message }}
		</p>
		{% endif %}
	</div>

</header>
<!-- end snippets/page-header.liquid -->