<!-- snippets/page-footer.liquid -->
<footer class="site-footer" role="contentinfo">
	
	<hr>
	
	{% if settings.footer_quicklinks_enable %}
		<div class="quicklinks">
			{% if settings.footer_quicklinks_title_enable %}
				<h4>{{ 'layout.footer.linklist_title' | t }}</h4>
			{% endif %}
			<ul class="menu">
				{% for link in linklists[settings.footer_quicklinks_linklist].links %}
					<li><a href="{{ link.url }}">{{ link.title }}</a></li>
				{% endfor %}
			</ul>
		</div>
	{% endif %}

	{% if settings.footer_social_enable %}
		<div class="social-links">
			<h4>{{ 'layout.footer.social_title' | t }}</h4>
			{% include 'social-links' %}
		</div>
	{% endif %}

	{% if settings.footer_contact_enable %}
		<div class="contact">
			<h4>{{ 'layout.footer.contact_title' | t }}</h4>
			<div class="rte">{{ settings.footer_contact_text }}</div>
		</div>
	{% endif %}

	{% if settings.footer_newsletter_enable %}
		<div class="newsletter">
			<h4>{{ 'layout.footer.newsletter_title' | t }}</h4>
			<p>{{ 'layout.footer.newsletter_caption' | t }}</p>
			{% include 'newsletter-form' %}
		</div>
	{% endif %}

	{% if settings.footer_show_methods_of_payment %}
		{% unless shop.enabled_payment_types == empty %}
		<div class="columns">
			<ul class="menu payment-icons">
				{% for type in shop.enabled_payment_types %}
					<li>
						<img src="{{ type | payment_type_img_url }}">
					</li>
				{% endfor %}
			</ul>
		</div>
		{% endunless %}
	{% endif %}

	<div class="medium-margin text-center">
		{{ 'layout.footer.copyright' | t }} &copy; {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: '/' }}
	</div>

</footer>
<!-- end snippets/page-footer.liquid -->