<!-- templates/cart.liquid -->
<div class="row columns">

	{% if cart.item_count > 0 %}
	
		<form action="/cart" method="post" novalidate class="cart">
			
			{% if cart.announcements.size > 0 %}
			<ul class="note">
				{% for announcement in cart.announcements %}
					<li>{{ announcement }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			
			{% if cart.errors.size > 0 %}
				<ul class="note errors">
					{% for error in cart.errors %}
						<li>{{ error }}</li>
					{% endfor %}
				</ul>
			{% endif %}
			
			<div class="row">
				
				{% for item in cart.items %}
				
				<div class="columns medium-6 large-6 {% if cart.items.size > 1 %}left{% else %}right{% endif %}">
					
					<div class="row checkout-product">
						
						<div class="columns small-4 medium-4 large-4">
							<a href="{{ item.url | within: collections.all }}">
								<img src="{{ item | img_url: 'medium' }}" alt="{{ item.title | escape }}">
							</a>
						</div>
						
						<div class="columns small-8 medium-8 large-8">
							
							<div class="right">
								<a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="button">Remove</a>
							</div>
							
							<div>
								<a href="{{ item.url | within: collections.all }}">{{ item.product.title }}</a>
							</div>
							
							{% unless item.variant.title contains 'Default' %}
								<div>{{ item.variant.title }}</div>
							{% endunless %}
								<div>{{ item.price | money }}</div>
								<div><input type="number" name="updates[]" value="{{ item.quantity }}" min="0"></div>
							
							{% if item.properties.size > 0 %}
								{% for p in item.properties %}
									{% unless p.last == blank %}
										{{ p.first }}:
										{% comment %} Check if there was an uploaded file associated. {% endcomment %}
										{% if p.last contains '/uploads/' %}
											<!-- TODO: What does this do? -->
											<a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
										{% else %}
											{{ p.last }}
										{% endif %}
									{% endunless %}
								{% endfor %}
							{% endif %}
							
						</div>
						
					</div>
					
					<hr>
					
				</div>
				
				{% endfor %}
				
			</div>
			
			<div class="checkout text-right">
				<p>
					<span class="cart-subtotal-title">{{ 'cart.general.subtotal' | t }}</span>
					<span class="cart-subtotal">{{ cart.total_price | money }}</span>
					{% if cart.total_discounts > 0 %}
						{% assign savings = cart.total_discounts | money %}
						<small>{{ 'cart.general.savings_html' | t: price: savings }}</small>
					{% endif %}
				</p>
				<p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
				<button type="submit" name="update" class="update-cart button">{{ 'cart.general.update' | t }}</button>
				<button type="submit" name="checkout" class="checkout button">{{ 'cart.general.checkout' | t }}</button>
			</div>
		</form>
	
	{% else %}
		
		<h1>{{ 'cart.general.empty' | t }}</h1>
		<p class="rte">{{ 'cart.general.continue_browsing_html' | t }}</p>
		
	{% endif %}
	
</div>
<!-- end templates/cart.liquid -->