<!-- templates/page.contact.liquid -->
<div>
	<h1>{{ page.title }}</h1>
</div>

<div class="rte">
	{{ page.content }}
</div>

<div>

	{% form 'contact' %}

		{% if form.posted_successfully? %}
			<p class="note form-success">
				{{ 'contact.form.post_success' | t }}
			</p>
		{% endif %}

		{{ form.errors | default_errors }}

		{% assign name_attr = 'contact.form.name' | t | handle %}
			<label>
				{{ 'contact.form.name' | t }}
				<input type="text" name="contact[{{ name_attr }}]" autocapitalize="words" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.name }}{% endif %}">
			</label>
			
			<label>
				{{ 'contact.form.email' | t }}
				<input type="email" name="contact[email]" autocorrect="off" autocapitalize="off" value="{% if form.email %}{{ form.email }}{% elsif customer %}{{ customer.email }}{% endif %}">
			</label>

		{% assign name_attr = 'contact.form.phone' | t | handle %}
			<label>
				{{ 'contact.form.phone' | t }} Like So: 555-555-5555
				<input type="tel" name="contact[{{ name_attr }}]" pattern="\(?[0-9]{3}\)? ?\-?[0-9]{3}\-?[0-9]{4}" value="{% if form[name_attr] %}{{ form[name_attr] }}{% elsif customer %}{{ customer.phone }}{% endif %}">
			</label>

			<label>
				{{ 'contact.form.message' | t }}
				<textarea rows="10" name="contact[body]">{% if form.body %}{{ form.body }}{% endif %}</textarea>
			</label>

		<input type="submit" class="button" value="{{ 'contact.form.send' | t }}">

	{% endform %}

</div>
<!-- end templates/page.contact.liquid -->