{% layout none %}<!DOCTYPE html>
<!-- templates/password.liquid -->
<html class="no-js" lang="en-US">
	
	<head>
		
		{% comment %}
			Everything in html-head is the same here as the site template other than the title tag. Make sure that the way it looks works for you. Otherwise you may need to do some copying and pasting from the main template.
		{% endcomment %}
		{% include 'html-head' %}
		
	</head>
	
	<body class="password-page" style="background-image: url( '{{ 'password-page-background.jpg' | asset_url }}' );">
		
		<header class="row columns text-center" role="banner">
			
			<div class="password-login text-right">
				<a href="#" class="toggle-login">
					{% include 'svg-definitions' with 'lock-icon' %}
					{{ 'general.password_page.password_link' | t }}
				</a>
			</div>
			
			<div class="medium-margin">
				{% if settings.logo_use_image %}
					<img class="logo" src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
				{% else %}
					<h1>{{ shop.name }}</h1>
				{% endif %}
			</div>
			
		</header>
		
		<main class="text-center" role="main">
			
			<div class="opening-soon">
				
				<div class="row columns">
					
					<h2>{{ 'general.password_page.opening_soon' | t }}</h2>
					
					{% unless shop.password_message == blank %}
						<p>
							{{ shop.password_message }}
						</p>
						<hr>
					{% endunless %}
					
				</div>
				
				{% form 'customer' %}
				
				{{ form.errors | default_errors }}
					
					<div class="row columns">
						
						{% if form.posted_successfully? %}
							
							<p class="note form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
							
						{% else %}
							
							<p>{{ 'general.password_page.signup_form_heading' | t }}</p>
							
							<input type="hidden" name="contact[tags]" value="prospect, password page">
							
						</div>
					
						<div class="row collapse">
							
							<div class="columns large-9 medium-9 small-8">
								
								<label>
									<span class="display-none">{{ 'general.password_page.signup_form_email_label' | t }}</span>
									<input type="text" class="prefix" name="contact[email]" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}">
								</label>
								
							</div>
							
							<div class="columns large-3 medium-3 small-4">
								
								<input type="submit" class="postfix button expanded" value="{{ 'general.password_page.signup_form_submit' | t }}">
								
							</div>
							
						</div>
						
					{% endif %}
					
				{% endform %}
				
			</div>
			
			<div class="enter-using-password text-center display-none">
				
				<p>{{ 'general.password_page.login_form_heading' | t }}</p>
				
				{{ form.errors | default_errors }}
				
				{% form 'storefront_password' %}
					
					<div class="row collapse">
						
						<div class="columns large-9 medium-9 small-8">
							
							<label>
								<span class="display-none">{{ 'general.password_page.login_form_password_label' | t }}</span>
								<input type="password" class="prefix" name="password" placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}">
							</label>
						
						</div>
						
						<div class="columns large-3 medium-3 small-4">
							
							<input type="submit" class="postfix button expanded" value="{{ 'general.password_page.login_form_submit' | t }}">
							
						</div>
						
					</div>
					
				{% endform %}
				
				<p class="admin-login">{{ 'general.password_page.admin_link_html' | t }}</p>
				
			</div>
			
		</main>
		
		<script>
			$( '.toggle-login' ).click(
				function( click_event ) {
					click_event.preventDefault();
					$( '.enter-using-password' ).removeClass( 'display-none' );
					$( '.opening-soon' ).addClass( 'display-none' );
					$( '.password-login' ).addClass( 'display-none' );
				}
			);
		</script>
		
		{% include 'footer-js' %}
		
	</body>
<!-- end templates/password.liquid -->
</html>