<!-- templates/product.liquid -->
<div itemscope itemtype="http://schema.org/Product">

	<meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
	<meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

	<div class="breadcrumb">
		{% include 'breadcrumb' %}
	</div>

	<div class="product-page">
		<div class="row">
			<div class="columns small-12 medium-12 large-6">

				{% if settings.product_thumbnails_position == 'below' or product.images.size < 2 %}

					<div class="main-product-image">
						{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
						<img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" data-zoom="{{ featured_image | img_url: '1024x1024' }}" data-image-id="{{ featured_image.id }}">
					</div>

					{% if product.images.size > 1 %}

						<ul class="product-images row">
							{% for image in product.images %}
								<li class="columns large-4 medium-4 small-4">
									<a data-image-id="{{ image.id }}" href="{{ image.src | img_url: '1024x1024' }}">
										<img src="{{ image.src | img_url: 'grande' }}" alt="{{ image.alt | escape }}">
									</a>
								</li>
							{% endfor %}
						</ul>

					{% endif %}

				{% else %}

					<div class="row">

						<div class="columns large-9 medium-9 small-9 main-product-image">
							{% assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image %}
							<img src="{{ featured_image | img_url: '1024x1024' }}" alt="{{ featured_image.alt | escape }}" data-zoom="{{ featured_image | img_url: 'grande' }}">
						</div>

						<div class="columns large-3 medium-3 small-3">

							<ul class="product-images">
								{% for image in product.images %}
									<li>
										<a href="{{ image.src | img_url: '1024x1024' }}" class="single-product-thumbnail">
											<img src="{{ image.src | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
										</a>
									</li>
								{% endfor %}
							</ul>

						</div>

					</div>

				{% endif %}

			</div>
			<div class="columns large-6 medium-12 small-12">
				{% comment %}
					<h3 itemprop="brand">{{ product.vendor }}</h3>
				{% endcomment %}
				<h1 itemprop="name">{{ product.title }}</h1>

				<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">


					{% assign variant = product.selected_or_first_available_variant %}

					<meta itemprop="priceCurrency" content="{{ shop.currency }}">
					<link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

					<div class="row">
						<form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm">
							
							<div class="columns large-6 medium-6 small-12">

									<div class="price" itemprop="price">
										{{ product.price | money_with_currency }}

										{% if product.compare_at_price > product.price %}
											<span class="product-compare-price">
												{{ product.compare_at_price_max | money }}
											</span>
										{% endif %}
									</div>
								
								<select name="id" class="product-variants">
									{% for variant in product.variants %}
									{% if variant.available %}

									<option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

									{% else %}
									<option disabled="disabled">
										{{ variant.title }} - {{ 'products.product.sold_out' | t }}
									</option>
									{% endif %}
									{% endfor %}
								</select>
							</div>

							<div class="columns large-6 medium-6 small-12">
								<div class="product-quantity{% unless settings.product_quantity_enable %} display-none{% endunless %}">
									<label>
										{{ 'products.product.quantity' | t }}
										<input type="number" name="quantity" value="1" min="1" class="quantity-selector">
									</label>
								</div>
							</div>
							
							<div class="columns">
								<button type="submit" name="add" class="button">
									<span class="add-to-cart-text">{{ 'products.product.add_to_cart' | t }}</span>
								</button>
							</div>
							
						</form>
					</div>

					<div class="product-description rte" itemprop="description">
						{{ product.description }}
					</div>

					{% if settings.social_sharing_products %}
						<hr>
						{% include 'social-sharing' %}
					{% endif %}
				</div>

			</div>
		</div>
	</div>

	{% if settings.product_related_enable %}
		{% include 'related-products' %}
	{% endif %}

</div>

<script>
	$( 'a.single-product-thumbnail' ).click(
		function( click_event ) {
			click_event.preventDefault();
			$( '.main-product-image>img' ).attr( 'src', $( this ).find( 'img' ).first().attr( 'src' ) );
		}
	);
	$( '.main-product-image' ).zoom();
	$( 'select.product-variants' ).change(
		function () {
			var product_variant_cost = $('.product-variants').first().find( 'option:selected' ).html().match( / - (.+)?$/ )[ 1 ];
			$( '.product-page .price' ).html( product_variant_cost );
		}
	);
</script>
<!-- end templates/product.liquid -->